body {
  margin: 0px;
  padding: 0px;
  font-family: "Baloo Bhai 2", cursive;
}

.toppart {
  background-color: #1d1a1d;
  margin: 0px 0px -17px 0px;
  padding-top: 20px;
}

.sign {
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 75px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd;
}

.middle {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.change {
  text-align: center;
  font: "Great Vibes", Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 58px;
  padding-bottom: 20px;
}

.midpart {
  border: 2px solid white;
  color: black;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px 0px 10px 10px;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 100%;
  font-weight: 700;
  color: rgb(90, 24, 24);
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  background-color: rgb(90, 24, 24);
  color: white;
}

#newgame {
  width: 30%;
  text-align: center;
}

.gametext {
  width: 30%;
  text-align: center;
}

.levels {
  width: 30%;
  justify-content: center;
  text-align: center;
}

.lastpart {
  min-height: 70vh;
  padding-top: 2rem;
  background-color: rgb(51, 47, 47);
}

.easycards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.card {
  color: white;
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 10px;
}

/* Responsive Media Queries */

/* Mobile Devices */
@media screen and (max-width: 360px) {
  .sign {
    font-size: 65px;
  }
}

@media screen and (max-width: 600px) {
  .toppart {
    margin: 0px 0px -17px 0px;
  }
  .change {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .midpart {
    font-size: 16px;
    padding: 10px 0px 10px 10px;
  }
  .easycards {
    width: 100%;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  .card {
    height: 150px;
    width: 150px;
  }
}

/* Desktops   */
@media screen and (min-width: 1150px) {
  .easycards {
    width: 60%;
  }
}

@media screen and (min-width: 1500px) {
  .easycards {
    width: 50%;
  }
}

@media screen and (min-width: 1800px) {
  .easycards {
    width: 30%;
  }
}
